<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Edit Person</h3>
</div>
<div class="modal-body">
  <div class="alert alert-error hide"></div>
  <form> 
    <label for="name">
      <abbr title="required">*</abbr> Name
    </label>
    <div>
      <input type="text"
             class="string required xxlarge" 
             id="name" 
             name="name" 
             rows="3"
             autofocus
             value="{{name}}">
    </div>
  </form>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  <a href="#" class="btn btn-primary save">Save</a>
</div>
