<table id="people-list" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each people}}
      <tr>
        <td>{{name}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
