<td>{{this.attributes.name}}</td>
<td>{{this.strikes_count}}</td>
<td>
  <a href="#people/{{this.id}}" class="view btn btn-mini">Details</a>
  <a href="#strike" class="strike btn btn-danger btn-mini">Strike</a>
</td>
