<h1>{{name}}'s Strikes</h1>
{{#if strikes.length}}
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Reason</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{{else}}
  No strikes! Yet...
{{/if}}
<div class="actions">
  <a href="#strike" class="strike btn btn-danger">Strike</a>
</div>
