<h1>{{name}}'s Strikes</h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Reason</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div class="actions">
  <a href="#strike" class="strike btn btn-warning">Strike</a>
  <a href="#edit" class="edit btn">Edit</a>
  <a href="#delete" class="delete btn btn-danger">Delete</a>
</div>
