<td>{{when}}</td>
<td>{{reason}}</td>
<td>
  <div class="btn-group">
    <a href="#edit" class="edit-strike btn btn-mini">Edit</a>
    <a href="#delete" class="delete-strike btn btn-mini">Delete</a>
  </div>
</td>
