<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Strike {{this.attributes.name}}</h3>
</div>
<div class="modal-body">
  <p></p>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  <a href="#" class="btn btn-danger strike">Strike</a>
</div>
