<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Strike {{this.attributes.name}}</h3>
</div>
<div class="modal-body">
  <div class="alert alert-error hide"></div>
  <form> 
    <label for="reason">
      <abbr title="required">*</abbr> Reason
    </label>
    <div>
      <textarea class="string required xxlarge" 
                id="reason" 
                name="reason" 
                rows="3"
                autofocus />
    </div>
  </form>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  <a href="#" class="btn btn-danger strike">Strike</a>
</div>
